*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.testimonial {
	height: 400px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;
}

.testimonial p {
	margin: 30px;
}

.testimonial img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.testimonial div {
	text-align: center;
}

.testimonial h4 {
	margin: 10px;
	padding-bottom: 50px;
}

.testimonial hr {
	position: relative;
	top: 35px;
